<div class="wrapper">
    <div class="logo">
        <img src="assets/images/logoLogin.png" alt="img" />

    </div>
    <div class="title">
        <p>Veuillez vous identifier</p>
    </div>

    <div class="form-login">
        <form (ngSubmit)="login()">
 
            <div class="input_field">
                <label>Username </label>
                <input type="text" class="input" name="user" [(ngModel)]="loginForm.user" required maxlength="4">
            </div>

            <div class="input_field">
                <label>Password</label>
                <input type="password" class="input" name="password" [(ngModel)]="loginForm.password" required maxlength="4">
            </div>

            <div class="btn">
                <input type="submit" value="Connexion" class="sign_btn">
            </div>

        </form>
    </div>

</div>

